{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/AntoineMLD/data_pipeline",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}